main{
    margin-top: 61px;
}
.hide{
    display: none;
}
.lcard{
    width: fit-content;
}
.freerice-bg{
    background-color: #2AB3C6;
    border-color: #1CABBF;
}
.banano-bg{
    background-color: #FBDD11;
}